.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.profile-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 100px;
  text-align: center;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.profile-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
  margin-bottom: 15px;
}

.actions {
  margin-top: 20px;
}

.actions button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.actions button:first-child {
  background-color: #ff4444;
  color: white;
}

.actions button:last-child {
  background-color: #44ff44;
  color: rgb(255, 255, 255);
}

