/** Style_profile-card **/

body {
    background-color: #dddbdb;
    font-family: Arial, sans-serif;
}

.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.main-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 670px;
  text-align: center;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  background-color: #fff;
}

.profile-inform {
    text-align: left;
    padding: 30px 20px 30px 60px;
    height: 200px;

}

.profile-elenments {
    margin-bottom: 20px;
}

.profile-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
  margin-bottom: 15px;
  margin-top: 40px;
}

/** Кнопки **/

.actions button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.actions button:first-child {
  background-color: #ff4444;
  color: white;
}

.actions :first-child:hover {
    background-color: #d92c2c;
    color: #e5e4e4;
}

.actions :first-child:active {
  background-color: #ff4444;
  color: white;
}

.actions button:last-child {
  background-color: #19bf1d;
  color: rgb(255, 255, 255);
}

.actions :last-child:hover {
    background-color: #118113;
    color: rgb(255, 255, 255);
}

.actions :last-child:active {
    background-color: #2bbd2f;
    color: rgb(255, 255, 255);
}
