.Header{
  text-align:center;
  padding: 20px 0;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  color: black;
  margin:0;
}

.logo{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 2px;
}