body {
  margin:0;

  height: 100%;
  width: 100%;
}



.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #667eea 0%, #4d217a 100%);
}

.loading-logo {
  width: 12.5%;
  height: 25%;
  background: linear-gradient(170deg,#eae1ed 10%, #fcfafc 100%);
  border-radius: 30%;
  justify-content: center;
  align-items: center;
  display:flex;
}

.inner-square {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50%;
  height:50%;
  border-radius: 30%;
  box-shadow: 10px 10px #924af7, -10px -10px #691ad8;
  background-color: rgb(93, 34, 255);
  display: flex;
  margin: 0 auto;
  

}

.inner-square::before {
  text-align: center;
  content:"";
  font-size: 30px;
  color:black;
  height: 50%;
  width: 50%;
  border-radius: 90% 90% 60% 60%;
  box-shadow: black 1px 1px;
  background-color: #ffa600;
  z-index: 1;
}



.loading-text {
  font-size: 300%;
  font-family: 'Open Sans';
  margin: 0 auto ;
  color:white;
  text-shadow: black 1px 1px;
}
.dollar-sign {
  font-size: 200%;
  position:absolute;
  left:51%;
  top:50%;
  color:#000000;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.trapezoid-shape {
  position:absolute;
  z-index: 2;
  top:18%;
  left:50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px black)
}


