/** Style_profile-card **/

body {
    background: #fccff0;
    background: linear-gradient(90deg,rgba(252, 207, 240, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(200, 190, 232, 1) 70%, rgba(222, 197, 210, 1) 100%);
    font-family: Arial, sans-serif;
}

.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.main-content {
  border: 6px solid black;
  border-radius: 60px;
  height: 850px;
  text-align: center;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  background-color: #fff;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.main-content::before {
  border: 5px solid rgb(220, 40, 220);
  border-radius: 60px;
  content: '';
  z-index: -1 ;
  width: 500px;
  height: 855px;
  position: absolute;
}

.profile-inform {
    text-align: center;
    padding: 0px 20px; 
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(116, 116, 116);
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.profile-elements {
    margin-bottom: -20px;
    pointer-events: none;

}

.profile-inform h2 {
  color: black;
}


.profile-card img {
  width: 400px;
  height: 400px;
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 15px;
  margin-top: 40px;
}

/** Кнопки **/

.actions button {
  margin: 0 10px;
  padding: 10px 50px;
  border-color: rgb(222, 222, 222);
  border-radius:8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
}

.actions button:last-child {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.actions :last-child:hover {
    background-color: #868686;
    color: #e5e4e4;
}

.actions :last-child:active {
  background-color: #4a4a4a;
  color: white;
}

.actions button:first-child {
  background-color: #6c5ce7;
  color: rgb(255, 255, 255);
}

.actions :first-child:hover {
    background-color: #5d4dc4;
    color: rgb(255, 255, 255);
}

.actions :first-child:active {
    background-color: #493c9a;
    color: rgb(255, 255, 255);
}